@font-face {
  font-family: IBM_Light;
  src: url('../fonts/IBMPlexSans-Light.ttf');
}

@font-face {
  font-family: IBM_Regular;
  src: url('../fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: IBM_Medium;
  src: url('../fonts/IBMPlexSans-Medium.ttf');
}

@font-face {
  font-family: IBM_SemiBold;
  src: url('../fonts/IBMPlexSans-SemiBold.ttf');
}

@font-face {
  font-family: IBM_Bold;
  src: url('../fonts/IBMPlexSans-Bold.ttf');
}
